swagger: "2.0"
info:
  title: Nas Authentication Service
  description: "The service handles authentication with Synology NAS"
  version: 1.0.0
host: auth.moyonero.com
basePath: /v1
schemes:
  - https
paths:
  /login:
    post:
      description: Login to the application
      produces:
        - application/json
      parameters:
        - name: request
          in: body
          schema:
            $ref: '#/definitions/LoginRequest'
          description: request to login
      responses:
        200:
          description: Successful login
          schema:
            $ref: '#/definitions/LoginResponse'
        400:
          description: Invalid email or password
          schema:
            $ref: '#/definitions/ErrorResponse'
        401:
          description: Unauthorized
          schema:
            $ref: '#/definitions/ErrorResponse'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/ErrorResponse'
  /logout:
    post:
      description: Logout from the application
      produces:
        - application/json
      parameters:
        - name: token
          in: body
          schema:
            $ref: '#/definitions/LoginRequest'
          description: JWT token
      responses:
        200:
          description: Successful logout
        401:
          description: Unauthorized
        500:
          description: Internal server error
definitions:
  LoginRequest:
    type: object
    properties:
      username:
        type: integer
        format: int64
        example: 10
      password:
        type: integer
        format: int64
        example: 198772
  LoginResponse:
    type: object
    properties:
      token:
        type: string
        description: JWT token
    example:
      token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c
  ErrorResponse:
    type: object
    properties:
      message:
        type: string
        description: Error message
        example:
          message: "Invalid email or password"